# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.exec
.DS_Store
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# static files
pkged.go

# ide
/.idea/
# actual binaries
/cmd/lightspeed-chat/lightspeed-chat
/cmd/lightspeed-chat-admin/lightspeed-chat-admin
/plugins/lightspeed-chat-google-translate-plugin/lightspeed-chat-google-translate-plugin

# plugins
/plugins/lightspeed-chat-*-plugin
!/plugins/lightspeed-chat-google-translate-plugin

# room db files
*.buntdb
# config files
/config/config_vagrant*
/config/local
/config/live
# temp
/tmp

